h1
	color #444
	font-size 18px
	
ul
	list-style-type none
	
	li
		color #666
		padding 5px
		
		&:hover
			cursor pointer
			color #222
			
		&.check 
			text-decoration line-through
		&.uncheck
			text-decoration none
			
.active {
	color: #28710a;
	font-weight: bold;
}